@model DashboardVm
@{
    Layout = "_MemberLayout";
    ViewBag.Title = "Admin Dashboard";
}


    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card text-center h-100">
                <div class="card-header">
                    İş Emirleri
                </div>
                <div class="card-body">
                    <h5 class="card-title">İş Emri Sayısı</h5>
                    <p class="card-text">@Model.TaskCount</p>
                <a asp-action="Index" asp-area="Member" asp-controller="AppTask" class="btn btn-primary">İş Emirlerine Git</a>
                </div>
                
            </div>
        </div>

       

        <div class="col-md-4 mb-4">
            <div class="card text-center h-100">
                <div class="card-header">
                   Bildirimler
                </div>
                <div class="card-body">
                    <h5 class="card-title">Okunmamış Bildirim Sayısı</h5>
                    <p class="card-text">@Model.NotificationCount</p>
                <a asp-action="Index" asp-area="Member" asp-controller="Notification" class="btn btn-primary">Bildirimlere git</a>
                </div>
                
            </div>
        </div>
    </div>