@model PriorityUpdateRequest;
@{
    ViewData["Title"] = "Aciliyet Durumu Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";


}

<form asp-action="Update" asp-controller="Priority" asp-area="Admin" class="mt-3" method="post">

    <div class="mb-3">
        <label class="form-label"> Aciliyet Tanımı :</label>
        <input asp-for="Definition" class="form-control">
    </div>




    <div class="fori-floating mb-3 btn-lg d-grid gap-2">

       <button class="btn btn-info" type="submit">Kaydet </button>
        <a asp-action="Index" asp-controller="Priority" asp-area="Admin" class="btn btn-secondary" type="submit">Vazgeç </a>

    </div>



    <div asp-validation-summary="All" class="text-bg-danger lead">
    </div>


</form>

